@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.time {
  width: 229px;
  font-size: 18px;
  margin-left: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
 .header {
    flex-direction: column;
    align-items: flex-start;
  }

 .logo {
    margin-bottom: 10px;
  }

 .nav {
    flex-direction: column;
  }

 .nav li {
    margin-bottom: 10px;
  }

 .time {
    font-size: 16px;
  }
}

.home-container .selected {
  background-color: rgb(190, 192, 192); /* Change to desired selected color */
  color: white;
}

.home-container button {
  padding: 8px 16px;
  margin: 2px;
  cursor: pointer;
  border: solid 1px;
}
.home-container button.selected {
  background-color: rgb(190, 192, 192);
  color: white;
}
.person-card {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
}

.person-card .background-image {
  height: 20vw;
  max-height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.person-card .profile-picture {
  width: 50%;
  max-width: 110px;
  height:75%;
  max-height: 110px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.person-card .person-details {
  padding: 1.5em;
}

.person-card .person-name {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.person-card .person-title {
  margin: 0.5em 0;
  font-size: 1.2em;
  color: #666;
}

.person-card .person-stats {
  display: flex;
  justify-content: space-between;
}

.person-card .stat {
  text-align: center;
}

.person-card .stat .number {
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
}

.person-card .stat .label {
  font-size: 0.9em;
  color: #666;
}

.update-person-details-button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px
}

.update-person-details-button:hover {
  background-color: #3e8e41; /* Dark Green */
}

.update-person-details-button:active {
  background-color: #3e8e41; /* Dark Green */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.update-person-details-button.center {
  margin: 0 auto;
  display: block;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.error-container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-icon {
  font-size: 50px;
  color: rgb(212, 138, 138);
  margin-bottom: 20px;
}

.error-icon-skeleton {
  border-radius: 50%;
}

.error-message {
  margin-bottom: 20px;
}

.error-message h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.error-actions {
  display: flex;
  justify-content: center;
}

.retry-button {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.retry-button:hover {
  background-color: #23527c;
}

 .skeloton-profile-picture {
  width: 50%;
  max-width: 110px;
  height: 75%;
  max-height: 110px;
  border-radius: 50%;
  border: none !important;
  position: absolute;
  bottom: -45% !important;
  left: 50%;
  transform: translateX(-50%);

}